[submodule "portfolio/myportfolio/public/GoalTeach"]
    path = portfolio/myportfolio/public/GoalTeach
    url = https://github.com/Timotheehau/GoalTeach
[submodule "portfolio/portfolio/myportfolio/public/GoalTeach"]
	path = portfolio/portfolio/myportfolio/public/GoalTeach
	url = https://github.com/Timotheehau/GoalTeach
