body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.logoheader {
    width:169px;
    height: 176px;
    margin-left: 20px;
    background-image: url("./assets/logo-no-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    }
header {
    background-color: #0629E026;
    width: 100vw;
    height: auto;
    color: #fff;
    position:absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
header a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size:3em;
    color: black;
    margin-right: 1vw;
}

footer {
    background-color: rgba(6, 41, 224, 0.15);
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a {
    color: #000000;
}
section {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10vh;
    margin-bottom: 10vh;
}

img {
    max-width: 20%;
    height: auto;
    
}

h2 {
    color: #333;
}

p {
    color: #666;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
}


.Mantra {
    display: flex;
    justify-content: space-around ;
    
}
.Mantra2 {
    margin: auto;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#searchinput {
 
    display: flex;
    justify-content: flex-end;}
 
input[type="text"] {
    width: 100%;
    padding: 8px;
display: flex;
justify-content: center;
    margin: 22px 0 30px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;

}
.request {
    display: flex;
    flex-direction: row;
    width: 45%;
    margin: 22px 0 0px 0;

}
.request [type="button"] {
    background-color: #276faa; /* Change the background color to red */
    color: #fff; /* Change the text color to white */
}

.infosp{
    width: 55%;
}
section .request input[type="submit"] {
    display: flex;
    justify-content: space-between;
}
.infosp_btn {
    display: flex;
    justify-content: space-between;
}
/* Path: HTML_CSS/Goalteach/ppgoalteach.css */
#ppsouchon{
    margin-top: 27vh ;
}